@{
	Layout = "_LayoutAuth";
	ViewData["Title"] = "Login";
}

<div class="bg-login"></div>
<div class="unix-login">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-lg-4">
				<div class="login-content card">
					<div class="login-form">
						<h4>Digite suas credencias para acessar o sistema</h4>
						<form method="post">
							<div class="form-group">
								<label>E-mail</label>
								<input type="email" name="email" class="form-control" value="" autofocus />
							</div>
							<div class="form-group">
								<label>Senha</label>
								<input type="password" name="password" class="form-control" value="" />
							</div>
							<button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Entrar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

