@model Odonto.Models.Dentist
@{
	ViewData["Title"] = "Detalhes do Dentista";
}
<div class="col-md-12">
	<div class="card">
		<div class="card-body">
			<div class="show-record">
				
				
			</div>
		</div>
	</div>
</div>