@model IEnumerable<Odonto.Models.PatientRecordProcedure>

@if (Model != null && Model.Any())
{
	<div class="card">
		<div class="card-body">
			<div class="show-record">
				<h3 class="m-t-5">Procedimentos</h3>
				<hr>
				<div class="table-responsive m-t-20">
					<table id="myTable" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="10%" class="text-center">Data</th>
								<th>Procedimento Realizado</th>
								<th width="15%" class="text-center">Dentista</th>
								<th width="15%" class="text-center">Valor</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model)
							{
								<tr>
									<td class="text-center">@item.Date.ToShortDateString()</td>
									<td>@item.ProcedureLabel</td>
									<td class="text-center">@item.DentistName</td>
									<td class="text-center">@item.Value.ToString("C", new System.Globalization.CultureInfo("pt-BR"))</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
}

