/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
#qrCode {
    margin: 15px;
}
@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}*/


/* CUSTOM */

/* Cards */
.card-with-error .card-header {
	background: #ef5350 none repeat scroll 0 0;
	border-color: #ef5350;
	color: white;
    font-weight: bold;
    text-align: center;
}

.show-record div div h5:first-child {
	margin: 0;
}

.show-record div div h5:last-child {
	margin-top: 10px;
	margin-bottom: 25px;
}

/* Forms */
span.form-control-feedback {
	font-size: 85%;
}

/* Login */
.bg-login {
	background-image: url('../images/bg/md-bgLogin.jpg');
	background-size: cover;
	-webkit-filter: blur(4px);
	filter: blur(4px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* General */
.text-primary {
	color: #004488 !important;
}

tbody tr td {
	color: #585858;
}

tbody tr td a {
	font-weight: bold;
}

a {
	color: #585858;
}

	a:hover, a:focus {
		color: #004488;
	}

.btn-success {
	background: #299a5c;
	border: 1px solid #299a5c;
	-webkit-box-shadow: 0 2px 2px 0 rgba(41, 154, 92, 0.14), 0 3px 1px -2px rgba(41, 154, 92, 0.2), 0 1px 5px 0 rgba(41, 154, 92, 0.12);
	box-shadow: 0 2px 2px 0 rgba(41, 154, 92, 0.14), 0 3px 1px -2px rgba(41, 154, 92, 0.2), 0 1px 5px 0 rgba(41, 154, 92, 0.12);
	color: #fff;
}

	.btn-success:hover, .btn-success:focus {
		background: #38c577;
		-webkit-box-shadow: 0 14px 26px -12px rgba(56, 197, 119, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(56, 197, 119, 0.2);
		box-shadow: 0 14px 26px -12px rgba(56, 197, 119, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(56, 197, 119, 0.2);
		border: 1px solid #38c577;
		color: #fff;
	}

.btn-primary {
	background: #004488;
	border: 1px solid #004488;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 68, 136, 0.14), 0 3px 1px -2px rgba(0, 68, 136, 0.2), 0 1px 5px 0 rgba(0, 68, 136, 0.12);
	box-shadow: 0 2px 2px 0 rgba(0, 68, 136, 0.14), 0 3px 1px -2px rgba(0, 68, 136, 0.2), 0 1px 5px 0 rgba(0, 68, 136, 0.12);
	-webkit-transition: 0.2s ease-in;
	-o-transition: 0.2s ease-in;
	transition: 0.2s ease-in;
	color: #fff;
}
	.btn-primary:hover, .btn-primary:focus {
		background: #004488;
		-webkit-box-shadow: 0 14px 26px -12px rgba(0, 68, 136, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 68, 136, 0.2);
		box-shadow: 0 14px 26px -12px rgba(0, 68, 136, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 68, 136, 0.2);
		color: #fff;
	}

input .filter {
	height: 34px;
}
label.filter {
	position: absolute;
	bottom: 0;
	right: 0;
	font-weight: 700;
}

div.alterations {
	height: auto;
}

	div.alterations .form-control {
		display: inline-block;
		width: 50%;
		height: auto;
	}

textarea.form-control {
	height: auto;
}

.modal-header .close {
	font-size: 25px;
}

.btn-add-flyout {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 1;
}

.fixed-top {
	top: 0 !important;
}

.form-control:hover, .form-control:focus {
	border-color: #0068d0 !important;
}

.form-control {
	border-color: #99abb4;
}

.sidebar-nav ul li a {
	color: #3d4d54;
}